<div class="container">
  <h2>Administración de Usuarios</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre de Usuario</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button class="edit" (click)="editUser(user)">Editar</button>
          <button class="delete" (click)="deleteUser(user.id!)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="isEditing" class="edit-form">
    <h2>Editar Usuario</h2>
    <form (ngSubmit)="updateUser()">
      <label for="username">Nombre de Usuario:</label>
      <input id="username" [(ngModel)]="selectedUser.username" type="text" name="username" required>

      <label for="role">Rol:</label>
      <select id="role" [(ngModel)]="selectedUser.role" name="role" required>
        <option value="user">Usuario</option>
        <option value="admin">Administrador</option>
      </select>

      <button type="submit">Actualizar</button>
      <button type="button" (click)="cancelEdit()">Cancelar</button>
    </form>
  </div>

  <div class="create-form">
    <h2>Crear Usuario</h2>
    <form (ngSubmit)="createUser()">
      <label for="new-username">Nombre de Usuario:</label>
      <input id="new-username" [(ngModel)]="newUser.username" type="text" name="new-username" required>

      <label for="new-password">Contraseña:</label>
      <input id="new-password" [(ngModel)]="newUser.password" type="password" name="new-password" required>

      <label for="new-role">Rol:</label>
      <select id="new-role" [(ngModel)]="newUser.role" name="new-role" required>
        <option value="user">Usuario</option>
        <option value="admin">Administrador</option>
      </select>

      <button type="submit">Crear Usuario</button>
    </form>
  </div>
</div>
